<script>
    function validateForm() {
        var files = document.getElementById('files').files;
        var errorDiv = document.getElementById('file-error');

        if (files.length === 0) {
            errorDiv.innerText = 'Please select at least one file.';
            return false;
        } else {
            errorDiv.innerText = '';
            return true;
        }
    }
</script>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            @using (Html.BeginForm("Upload", "Product", FormMethod.Post, new { enctype = "multipart/form-data", @class = "mt-3", onsubmit = "return validateForm()" }))
            {
                <div class="form-group">
                    <label for="files">Select Image(s):</label>
                    <input type="file" name="files" id="files" class="form-control-file" multiple />
                    <div id="file-error" class="invalid-feedback d-block text-danger"></div>
                    @if (ViewData.ModelState["files"] != null && ViewData.ModelState["files"].Errors.Count > 0)
                    {
                        <div class="invalid-feedback d-block">@ViewData.ModelState["files"].Errors.FirstOrDefault().ErrorMessage</div>
                    }
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            }
        </div>
    </div>
</div>
