@model AliExpress.Dtos.Category.CategoryDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CategoryDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Select Specifications:</label><br>

                <input type="checkbox" id="Title" name="Specification" value="Title" />
                <label for="Title"> Title</label><br>

                <input type="checkbox" id="Description" name="Specification" value="Description" />
                <label for="Description"> Description</label><br>

                <input type="checkbox" id="Price" name="Specification" value="Price" />
                <label for="Price"> Price</label><br>

                <input type="checkbox" id="quantity" name="Specification" value="quantity" />
                <label for="quantity"> quantity</label><br>

                <input type="checkbox" id="ShippingMethod" name="Specification" value="ShippingMethod" />
                <label for="ShippingMethod"> ShippingMethod</label><br>

                <input type="checkbox" id="PlaceOfOrigin" name="Specification" value="PlaceOfOrigin" />
                <label for="PlaceOfOrigin"> PlaceOfOrigin</label><br>

                <input type="checkbox" id="ModelNumber" name="Specification" value="ModelNumber" />
                <label for="ModelNumber"> ModelNumber</label><br>


                <input type="checkbox" id="LensWidth" name="Specification" value="LensWidth" />
                <label for="LensWidth"> LensWidth</label><br>

                <input type="checkbox" id="LensHeight" name="Specification" value="LensHeight" />
                <label for="LensHeight"> LensHeight</label><br>

                <input type="checkbox" id="LensMaterial" name="Specification" value="LensMaterial" />
                <label for="LensMaterial"> LensMaterial</label><br>

                <input type="checkbox" id="Department" name="Specification" value="Department" />
                <label for="Department"> Department</label><br>

                <input type="checkbox" id="Gender" name="Specification" value="Gender" />
                <label for="Gender"> Gender</label><br>


                <input type="checkbox" id="FrameMaterial" name="Specification" value="FrameMaterial" />
                <label for="FrameMaterial"> Frame Material</label><br>

                <input type="checkbox" id="LensFeatures" name="Specification" value="LensFeatures" />
                <label for="LensFeatures"> Lens Features</label><br>

                <input type="checkbox" id="Style" name="Specification" value="Style" />
                <label for="Style"> Style</label><br>

                <input type="checkbox" id="BrandName" name="Specification" value="BrandName" />
                <label for="BrandName"> Brand Name</label><br>

                <input type="checkbox" id="Origin" name="Specification" value="Origin" />
                <label for="Origin"> Origin</label><br>

                <input type="checkbox" id="ItemType" name="Specification" value="ItemType" />
                <label for="ItemType"> Item Type</label><br>

                <input type="checkbox" id="EyewearType" name="Specification" value="EyewearType" />
                <label for="EyewearType"> Eyewear Type</label><br>

                <input type="checkbox" id="Certification" name="Specification" value="Certification" />
                <label for="Certification"> Certification</label><br>

                <input type="checkbox" id="FrameColor" name="Specification" value="FrameColor" />
                <label for="FrameColor"> Frame Color</label><br>

                <input type="checkbox" id="LensColor" name="Specification" value="LensColor" />
                <label for="LensColor"> Lens Color</label><br>

                <input type="checkbox" id="LensAttributes" name="Specification" value="LensAttributes" />
                <label for="LensAttributes"> Lens Attributes</label><br>

                <input type="checkbox" id="UsageScope" name="Specification" value="UsageScope" />
                <label for="UsageScope"> Usage Scope</label><br>

                <input type="checkbox" id="SuitableFaceShapes" name="Specification" value="SuitableFaceShapes" />
                <label for="SuitableFaceShapes"> Suitable Face Shapes</label><br>

                <input type="checkbox" id="SunglassesStyle" name="Specification" value="SunglassesStyle" />
                <label for="SunglassesStyle"> Sunglasses Style</label><br>

                <input type="checkbox" id="CompanyHistory" name="Specification" value="CompanyHistory" />
                <label for="CompanyHistory"> Company History</label><br>

                <input type="checkbox" id="Brand" name="Specification" value="Brand" />
                <label for="Brand"> Brand</label><br>


                <input type="checkbox" id="CommunicationType" name="Specification" value="CommunicationType" />
                <label for="CommunicationType"> Communication Type</label><br>

                <input type="checkbox" id="SetType" name="Specification" value="SetType" />
                <label for="SetType"> Set Type</label><br>

                <input type="checkbox" id="Transmitter" name="Specification" value="Transmitter" />
                <label for="Transmitter"> Transmitter</label><br>

                <input type="checkbox" id="Use" name="Specification" value="Use" />
                <label for="Use"> Use</label><br>

                <input type="checkbox" id="ChargingTime" name="Specification" value="ChargingTime" />
                <label for="ChargingTime"> Charging Time</label><br>

                <input type="checkbox" id="WorkingHours" name="Specification" value="WorkingHours" />
                <label for="WorkingHours"> Working Hours</label><br>

                <input type="checkbox" id="TransmissionDistance" name="Specification" value="TransmissionDistance" />
                <label for="TransmissionDistance"> Transmission Distance</label><br>

                <input type="checkbox" id="Features" name="Specification" value="Features" />
                <label for="Features"> Features</label><br>

                <input type="checkbox" id="Accessories" name="Specification" value="Accessories" />
                <label for="Accessories"> Accessories</label><br>

                <input type="checkbox" id="BandLength" name="Specification" value="BandLength" />
                <label for="BandLength"> Band Length</label><br>

                <input type="checkbox" id="BandWidth" name="Specification" value="BandWidth" />
                <label for="BandWidth"> Band Width</label><br>

                <input type="checkbox" id="Weight" name="Specification" value="Weight" />
                <label for="Weight"> Weight</label><br>

                <input type="checkbox" id="SimCardSlot" name="Specification" value="SimCardSlot" />
                <label for="SimCardSlot"> Sim Card Slot</label><br>

                <input type="checkbox" id="BuiltInVoiceAssistant" name="Specification" value="BuiltInVoiceAssistant" />
                <label for="BuiltInVoiceAssistant"> Built-In Voice Assistant</label><br>

                <input type="checkbox" id="BluetoothVersion" name="Specification" value="BluetoothVersion" />
                <label for="BluetoothVersion"> Bluetooth Version</label><br>

                <input type="checkbox" id="WiFi" name="Specification" value="WiFi" />
                <label for="WiFi"> WiFi</label><br>

                <input type="checkbox" id="MeasurementScales" name="Specification" value="MeasurementScales" />
                <label for="MeasurementScales"> Measurement Scales</label><br>

                <input type="checkbox" id="ActivityTracking" name="Specification" value="ActivityTracking" />
                <label for="ActivityTracking"> Activity Tracking</label><br>

                <input type="checkbox" id="Touchscreen" name="Specification" value="Touchscreen" />
                <label for="Touchscreen"> Touchscreen</label><br>

                <input type="checkbox" id="AppName" name="Specification" value="AppName" />
                <label for="AppName"> App Name</label><br>

                <input type="checkbox" id="ScreenMaterial" name="Specification" value="ScreenMaterial" />
                <label for="ScreenMaterial"> Screen Material</label><br>

                <input type="checkbox" id="CPUModel" name="Specification" value="CPUModel" />
                <label for="CPUModel"> CPU Model</label><br>

                <input type="checkbox" id="Detachable" name="Specification" value="Detachable" />
                <label for="Detachable"> Detachable</label><br>

                <input type="checkbox" id="AppDownloadAvailable" name="Specification" value="AppDownloadAvailable" />
                <label for="AppDownloadAvailable"> App Download Available</label><br>

                <input type="checkbox" id="RemovableBattery" name="Specification" value="RemovableBattery" />
                <label for="RemovableBattery"> Removable Battery</label><br>

                <input type="checkbox" id="CPUManufacturer" name="Specification" value="CPUManufacturer" />
                <label for="CPUManufacturer"> CPU Manufacturer</label><br>

                <input type="checkbox" id="Resolution" name="Specification" value="Resolution" />
                <label for="Resolution"> Resolution</label><br>

                <input type="checkbox" id="ScreenSize" name="Specification" value="ScreenSize" />
                <label for="ScreenSize"> Screen Size</label><br>

                <input type="checkbox" id="MovementType" name="Specification" value="MovementType" />
                <label for="MovementType"> Movement Type</label><br>

                <input type="checkbox" id="AgeCategoryApp" name="Specification" value="AgeCategoryApp" />
                <label for="AgeCategoryApp"> Age Category App</label><br>

                <input type="checkbox" id="ScreenShape" name="Specification" value="ScreenShape" />
                <label for="ScreenShape"> Screen Shape</label><br>

                <input type="checkbox" id="CaseMaterial" name="Specification" value="CaseMaterial" />
                <label for="CaseMaterial"> Case Material</label><br>

                <input type="checkbox" id="StrapMaterial" name="Specification" value="StrapMaterial" />
                <label for="StrapMaterial"> Strap Material</label><br>

                <input type="checkbox" id="WaterproofRating" name="Specification" value="WaterproofRating" />
                <label for="WaterproofRating"> Waterproof Rating</label><br>

                <input type="checkbox" id="AvailableSimCard" name="Specification" value="AvailableSimCard" />
                <label for="AvailableSimCard"> Available Sim Card</label><br>

                <input type="checkbox" id="Mechanism" name="Specification" value="Mechanism" />
                <label for="Mechanism"> Mechanism</label><br>

                <input type="checkbox" id="MultiFace" name="Specification" value="MultiFace" />
                <label for="MultiFace"> Multi Face</label><br>

                <input type="checkbox" id="GPS" name="Specification" value="GPS" />
                <label for="GPS"> GPS</label><br>

                <input type="checkbox" id="NetworkMode" name="Specification" value="NetworkMode" />
                <label for="NetworkMode"> Network Mode</label><br>

                <input type="checkbox" id="BatteryCapacity" name="Specification" value="BatteryCapacity" />
                <label for="BatteryCapacity"> Battery Capacity</label><br>

                <input type="checkbox" id="RearCamera" name="Specification" value="RearCamera" />
                <label for="RearCamera"> Rear Camera</label><br>

                <input type="checkbox" id="RAM" name="Specification" value="RAM" />
                <label for="RAM"> RAM</label><br>

                <input type="checkbox" id="ROM" name="Specification" value="ROM" />
                <label for="ROM"> ROM</label><br>

                <input type="checkbox" id="System" name="Specification" value="System" />
                <label for="System"> System</label><br>

                <input type="checkbox" id="Type" name="Specification" value="Type" />
                <label for="Type"> Type</label><br>

                <input type="checkbox" id="Compatibility" name="Specification" value="Compatibility" />
                <label for="Compatibility"> Compatibility</label><br>

                <input type="checkbox" id="Language" name="Specification" value="Language" />
                <label for="Language"> Language</label><br>

                <input type="checkbox" id="Functionality" name="Specification" value="Functionality" />
                <label for="Functionality"> Functionality</label><br>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
